main {
    width: 100vh;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div img {
    width: 20vh;
}

hr {
    width: 100%;
}