.main {
    display: flex;
    width: 100%;
    overflow: scroll;
}

.main form {
    float: left;
    width: 25rem;
}

.cardgroup {
    display: grid;
    grid-template-rows: repeat(5, 50vh);
    grid-template-columns: repeat(4, 50vh);
    
    float: right;
    text-align: center;
    border: 0.5vh solid white;
    overflow: scroll;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
    height: 40vh;
    overflow: auto;
}

.card a {
    position: relative;
    top: 20%;
}

div > a:hover {
    bottom: 0.5vh;
    right: 0.5vh;
}

a:hover {
    padding: 0vh;
    border: 0.5vh solid white;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: white 0em 0em 2em;
    position: relative;
}

.card img {
    width: 20%;
}
