.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 110vh;
    overflow: scroll;
}

.main form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vh;
}

.cardgroup {
    display: grid;
    grid-template-rows: repeat(1, 50vh);
    grid-template-columns: repeat(2, 50vh);
    
    height: 100vh;
    float: right;
    text-align: center;
    border: 0.5vh solid white;
    border-radius: 2vh;
    padding: 0vh 4vh;
    overflow: scroll;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
    height: 40vh;
    overflow: auto;
}

.card a {
    position: relative;
    top: 20%;
}

div > a:hover {
    bottom: 0.5vh;
    right: 0.5vh;
}

a:hover {
    padding: 0vh;
    border: 0.5vh solid white;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: white 0em 0em 2em;
    position: relative;
}

.card img {
    width: 40%;
}

form {
    margin: 2vh;
}

form input {
    width: 50vh;
    height: 5vh;
    font-size: 4vh;
    outline: none;
    border: none;
    border-radius: 2vh;
}

form button[type='submit'] {
    font-size: 5vh;
    margin-bottom: 2vh;
    animation-name: search;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: both;
}

button[type='submit']:hover {
    box-shadow: white 0em 0em 0.2em;
    animation-name: none;
}

a + button {
    background-color: transparent;
    color: white;
    font-size: 2vh;
    padding: 0;
    border: none;
}

@keyframes search {
    0% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(200%);
        text-shadow: white 0em 0em 0.5em;
    }
    100% {
        filter: brightness(100%);
    }
}
